@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 330px;
}

svg {
  fill: #f4faff;
}

ul li,
button {
  cursor: pointer;
}

svg {
  display: block;
}

button {
  border: none;
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 21px 21px 107px 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

header img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 87px;
}

header button {
  color: #ff51bf;
  border: 1px solid #ff51bf;
  border-radius: 100px;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70px;
  height: 23px;
}

@media (min-width: 768px) {
  header img {
    width: 181px;
  }
  header button {
    width: 101px;
    height: 33px;
  }
}

@media (min-width: 1220px) {
  header {
    padding: 59px 59px 182px 59px;
  }
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  row-gap: 90px;
  padding: 0 30px;
}

.hero .hero_text {
  text-align: center;
}

.hero .hero_text p {
  padding: 29px 0 42px 0;
}

.hero img {
  width: 100%;
}

.hero button {
  width: 178px;
  padding: 1em;
  color: white;
  background: #ff51bf;
  border-radius: 33px;
}

.hero .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.hero .ratings .rate:nth-child(1) {
  margin-bottom: 82px;
}

.hero .ratings .rate img {
  width: 30px;
}

.hero .ratings .rate h2 {
  font-size: 3.5em;
}

.hero .ratings .rate p {
  color: #555555;
}

@media (min-width: 768px) {
  .hero img {
    width: 80%;
    margin: 0 auto;
  }
  .hero .ratings {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .ratings .rate:nth-child(1) {
    margin-bottom: 0;
    margin-right: 250px;
  }
}

@media (min-width: 1220px) {
  .hero .hero_text h1 {
    font-size: 2.5em;
    padding: 0 163px;
  }
  .hero .hero_text p {
    font-size: 1.1em;
    padding: 36px 350px;
  }
  .hero button {
    padding: 0;
    width: 298px;
    height: 50px;
    font-size: 1em;
  }
  .hero img {
    width: 100%;
    margin: 0;
    padding: 0 153px;
  }
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 600px 800px;
      grid-template-rows: auto 600px 800px;
  row-gap: 50px;
}

.main .grow {
  margin-top: 5em;
}

.main .grow:before {
  content: "";
  width: 100%;
  max-height: 112px;
  height: 112px;
  display: block;
  background-image: url("../images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center bottom;
}

.main .grow:after {
  content: "";
  width: 100%;
  height: 52px;
  max-height: 52px;
  display: block;
  background-image: url("../images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center bottom;
}

.main .grow img {
  width: 330px;
}

.main .grow .grow_wrapper {
  height: 600px;
  background-color: #f4faff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .grow .grow_wrapper .grow_text {
  text-align: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 92%;
}

.main .grow .grow_wrapper .grow_text h2 {
  margin-bottom: 18px;
}

.main .grow .grow_wrapper img {
  margin-bottom: 64px;
}

.main .conversations {
  height: 530px;
  padding: 0 25px;
}

.main .conversations .conversations_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main .conversations .conversations_wrapper img {
  width: 330px;
  margin-bottom: 75px;
}

.main .conversations .conversations_wrapper .conversation_text {
  padding: 0 25px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.main .conversations .conversations_wrapper .conversation_text h2 {
  margin-bottom: 17px;
}

.main .users .users_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4faff;
  height: 600px;
}

.main .users .users_wrapper .users_text {
  text-align: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 24px;
}

.main .users .users_wrapper .users_text p {
  line-height: 1.3em;
}

.main .users .users_wrapper .users_text h2 {
  margin-bottom: 20px;
}

.main .users .users_wrapper img {
  margin-bottom: 64px;
}

.main .users:before {
  content: "";
  display: block;
  background-image: url("../images/bg-section-top-mobile-2.svg");
  width: 100%;
  height: 103px;
  max-height: 103px;
  background-size: 100% 100%;
  background-position: center bottom;
}

.main .users:after {
  content: "";
  display: block;
  background-image: url("../images/bg-section-bottom-mobile-2.svg");
  width: 100%;
  height: 103px;
  max-height: 103px;
  background-size: 100% 100%;
  background-position: center bottom;
}

@media (min-width: 768px) {
  .main .grow .grow_wrapper {
    padding: 0 30px;
  }
  .main .grow .grow_wrapper img {
    width: 400px;
  }
  .main .conversations .conversations_wrapper .conversation_text {
    width: 75%;
  }
  .main .conversations .conversations_wrapper img {
    width: 400px;
  }
  .main .users .users_wrapper .users_text {
    width: 75%;
    padding: 0;
  }
  .main .users .users_wrapper img {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .main .grow .grow_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main .grow .grow_wrapper .grow_text {
    width: 482px;
    text-align: left;
  }
  .main .grow .grow_wrapper img {
    width: 400px;
    margin-bottom: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main .grow:before {
    content: "";
    width: 100%;
    max-height: 165px;
    height: 165px;
    display: block;
    background-image: url("../images/bg-section-top-desktop-1.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
  }
  .main .grow:after {
    content: "";
    width: 100%;
    max-height: 139px;
    height: 139px;
    display: block;
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
  }
  .main .conversations .conversations_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main .conversations .conversations_wrapper .conversation_text {
    width: 482px;
    text-align: left;
  }
  .main .conversations .conversations_wrapper img {
    width: 400px;
    margin-bottom: 0;
  }
  .main .users .users_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main .users .users_wrapper .users_text {
    text-align: left;
    width: 450px;
  }
  .main .users .users_wrapper .users_text p {
    line-height: 1.4em;
  }
  .main .users .users_wrapper img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 40%;
  }
}

@media (min-width: 1220px) {
  .main .grow .grow_wrapper .grow_text {
    width: 40%;
  }
  .main .grow .grow_wrapper img {
    width: 50%;
    max-width: 600px;
  }
  .main .conversations .conversations_wrapper .conversation_text {
    width: 40%;
    text-align: left;
  }
  .main .conversations .conversations_wrapper img {
    width: 50%;
    max-width: 600px;
  }
  .main .users {
    padding: 0 25px;
  }
  .main .users .users_wrapper img {
    width: 50%;
    max-width: 600px;
  }
  .main .users:before {
    content: "";
    width: 100%;
    max-height: 165px;
    height: 165px;
    display: block;
    background-image: url("../images/bg-section-top-desktop-2.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
  }
  .main .users:after {
    content: "";
    width: 100%;
    max-height: 139px;
    height: 139px;
    display: block;
    background-image: url("../images/bg-section-bottom-desktop-2.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
  }
}
