@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap');

$DCyan: #00242d;
$PaleBlue: #f4faff;
$Pink: #ff51bf;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Global
h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 330px;
}

svg {
    fill: #f4faff;
}

ul li,
button {
    cursor: pointer;
}

svg {
    display: block;
}


button {
    border: none;
    font-family: 'Poppins', sans-serif;
}

// Header
header {
    padding: 21px 21px 107px 21px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
        align-self: center;
        width: 87px;
    }

    button {
        color: $Pink;
        border: 1px solid $Pink;
        border-radius: 100px;
        justify-self: flex-end;
        align-self: center;
        width: 70px;
        height: 23px;
    }

    @media (min-width: 768px) {

        img {
            width: 181px;
        }

        button {
            width: 101px;
            height: 33px;
        }
    }

    @media (min-width: 1220px) {
        padding: 59px 59px 182px 59px;
    }
}

// Hero
.hero {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 90px;
    padding: 0 30px;

    .hero_text {
        text-align: center;

        p {
            padding: 29px 0 42px 0;
        }
    }

    img {
        width: 100%;
    }

    button {
        width: 178px;
        padding: 1em;
        color: white;
        background: $Pink;
        border-radius: 33px;
    }

    .ratings {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .rate {

            &:nth-child(1) {
                margin-bottom: 82px;
            }

            img {
                width: 30px;
            }

            h2 {
                font-size: 3.5em;
            }

            p {
                color: rgb(85, 85, 85);
            }
        }
    }

    @media (min-width: 768px) {
        img {
            width: 80%;
            margin: 0 auto;
        }

        .ratings {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            .rate {

                &:nth-child(1) {
                    margin-bottom: 0;
                    margin-right: 250px;
                }
            }
        }
    }

    @media (min-width: 1220px) {
        .ratings {
            margin: 0;

            .rate:nth-child(1) {
                margin: 0;
            }
        }

        .hero_text {
            h1 {
                font-size: 2.5em;
                padding: 0 163px;
            }

            p {
                font-size: 1.1em;
                padding: 36px 350px;
            }
        }

        img {
            margin: 0 auto;
            width: 50%;
            max-width: 1220px;
        }

        button {
            padding: 0;
            width: 298px;
            height: 50px;
            font-size: 1em;
        }

        img {
            width: 100%;
            margin: 0;
            padding: 0 153px;
        }
    }
}

// Main
.main {
    display: grid;
    grid-template-rows: auto 600px 800px;
    row-gap: 50px;

    .grow {
        margin-top: 5em;

        &:before {
            content: "";
            width: 100%;
            max-height: 112px;
            height: 112px;
            display: block;
            background-image: url("../images/bg-section-top-mobile-1.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center bottom;
        }

        &:after {
            content: "";
            width: 100%;
            height: 52px;
            max-height: 52px;
            display: block;
            background-image: url("../images/bg-section-bottom-mobile-1.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center bottom;
        }

        img {
            width: 330px;
        }

        .grow_wrapper {
            height: 600px;
            background-color: $PaleBlue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .grow_text {
                text-align: center;
                order: 2;
                width: 92%;

                h2 {
                    margin-bottom: 18px;
                }
            }

            img {
                margin-bottom: 64px;
            }
        }
    }

    .conversations {
        height: 530px;
        padding: 0 25px;

        .conversations_wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;

            img {
                width: 330px;
                margin-bottom: 75px;
            }

            .conversation_text {
                padding: 0 25px;
                order: 2;

                h2 {
                    margin-bottom: 17px;
                }
            }

        }
    }

    .users {
        .users_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $PaleBlue;
            height: 600px;

            .users_text {
                text-align: center;
                order: 2;
                padding: 0 24px;

                p {
                    line-height: 1.3em;
                }

                h2 {
                    margin-bottom: 20px;
                }
            }

            img {
                margin-bottom: 64px
            }
        }

        &:before {
            content: "";
            display: block;
            background-image: url("../images/bg-section-top-mobile-2.svg");
            width: 100%;
            height: 103px;
            max-height: 103px;
            background-size: 100% 100%;
            background-position: center bottom;
        }

        &:after {
            content: "";
            display: block;
            background-image: url("../images/bg-section-bottom-mobile-2.svg");
            width: 100%;
            height: 103px;
            max-height: 103px;
            background-size: 100% 100%;
            background-position: center bottom;
        }
    }

    // Media Queries
    @media (min-width: 768px) {
        .grow {
            .grow_wrapper {
                padding: 0 30px;

                img {
                    width: 400px;
                }
            }
        }

        .conversations {
            .conversations_wrapper {
                .conversation_text {
                    width: 75%;
                }

                img {
                    width: 400px;
                }
            }
        }

        .users {
            .users_wrapper {
                .users_text {
                    width: 75%;
                    padding: 0;
                }

                img {
                    width: 400px;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .grow {
            .grow_wrapper {
                flex-direction: row;
                justify-content: space-evenly;

                .grow_text {
                    width: 482px;
                    text-align: left;

                }

                img {
                    width: 400px;
                    margin-bottom: 0;
                    order: 2;
                }
            }

            &:before {
                content: "";
                width: 100%;
                max-height: 165px;
                height: 165px;
                display: block;
                background-image: url("../images/bg-section-top-desktop-1.svg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center bottom;
            }

            &:after {
                content: "";
                width: 100%;
                max-height: 139px;
                height: 139px;
                display: block;
                background-image: url("../images/bg-section-bottom-desktop-1.svg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center bottom;
            }
        }

        .conversations {
            .conversations_wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                .conversation_text {
                    width: 482px;
                    text-align: left;
                }

                img {
                    width: 400px;
                    margin-bottom: 0;
                }
            }
        }

        .users {
            .users_wrapper {
                flex-direction: row;
                justify-content: space-evenly;

                .users_text {
                    text-align: left;
                    width: 450px;

                    p {
                        line-height: 1.4em;
                    }
                }

                img {
                    order: 2;
                    width: 40%;
                }
            }
        }
    }

    @media (min-width: 1220px) {
        .grow {
            .grow_wrapper {
                .grow_text {
                    width: 40%;

                    h2 {
                        font-size: 2em;
                    }

                }

                img {
                    width: 50%;
                    max-width: 600px;
                }
            }
        }

        .conversations {
            .conversations_wrapper {
                .conversation_text {
                    width: 40%;
                    text-align: left;

                    h2 {
                        font-size: 2em;
                    }
                }

                img {
                    width: 50%;
                    max-width: 600px;
                }
            }
        }

        .users {
            padding: 0 25px;

            .users_wrapper {
                img {
                    width: 50%;
                    max-width: 600px;

                }

                .users_text {
                    h2 {
                        font-size: 2em;
                    }
                }
            }

            &:before {
                content: "";
                width: 100%;
                max-height: 165px;
                height: 165px;
                display: block;
                background-image: url("../images/bg-section-top-desktop-2.svg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center bottom;
            }

            &:after {
                content: "";
                width: 100%;
                max-height: 139px;
                height: 139px;
                display: block;
                background-image: url("../images/bg-section-bottom-desktop-2.svg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center bottom;
            }
        }
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;

    button {
        margin: 35px 0;
        color: white;
        border: 1px solid $Pink;
        background-color: $Pink;
        border-radius: 100px;
        width: 177px;
        height: 36px;
    }

    @media (min-width: 1024px) {
        h2 {
            font-size: 2em;
        }

        button {
            width: 300px;
            height: 63px;
        }
    }
}

footer {
    height: 100%;

    .footer_wrapper {
        padding: 0 26px;
        display: flex;
        flex-direction: column;
        background: $DCyan;
        height: 100%;
        color: white;

        .footer_menu {
            font-weight: 400;
            order: 2;
            margin-top: 88px;

            ul:nth-child(1) {
                margin-bottom: 43px;

                li:nth-child(2) {
                    margin-bottom: 36px;
                }

                li {
                    margin-bottom: 26px;

                    i {
                        vertical-align: middle;
                        font-size: 24px;
                        margin-right: 15px;
                    }

                    svg path {
                        fill: white;
                    }
                }
            }

            ul:nth-child(2) {
                width: 100%;
                display: flex;
                margin-bottom: 3em;

                li {
                    margin-right: 1em;

                    i {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 53px;
        max-height: 53px;
        background-image: url("../images/bg-footer-top-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center bottom;

    }

    @media (min-width: 1024px) {
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 158px;
            max-height: 158px;
            background-image: url("../images/bg-footer-top-desktop.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center bottom;

        }
    }
}