@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul li,
button {
  cursor: pointer;
}

button {
  border: none;
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 21px 21px 107px 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

header img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 87px;
}

header button {
  color: #ff51bf;
  border: 1px solid #ff51bf;
  border-radius: 100px;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70px;
  height: 23px;
}

@media (min-width: 768px) {
  header img {
    width: 181px;
  }
  header button {
    width: 101px;
    height: 33px;
  }
}

@media (min-width: 1220px) {
  header {
    padding: 59px 59px 182px 59px;
  }
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  row-gap: 90px;
  padding: 0 30px;
}

.hero .hero_text {
  text-align: center;
}

.hero .hero_text p {
  padding: 29px 0 42px 0;
}

.hero img {
  width: 100%;
}

.hero button {
  width: 178px;
  padding: 1em;
  color: white;
  background: #ff51bf;
  border-radius: 33px;
}

.hero .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .ratings .rate {
  width: 55%;
}

.hero .ratings .rate:nth-child(1) {
  margin-bottom: 82px;
}

.hero .ratings .rate img {
  width: 30px;
}

.hero .ratings .rate h2 {
  font-size: 3.5em;
}

.hero .ratings .rate p {
  color: #555555;
}

@media (min-width: 768px) {
  .hero img {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1220px) {
  .hero .hero_text h1 {
    font-size: 2.5em;
    padding: 0 163px;
  }
  .hero .hero_text p {
    font-size: 1.1em;
    padding: 36px 350px;
  }
  .hero button {
    padding: 0;
    width: 298px;
    height: 50px;
    font-size: 1em;
  }
  .hero img {
    width: 100%;
    margin: 0;
    padding: 0 153px;
  }
}
